@media screen and (max-width: 580px) {
  #container {
    height: 230px;
    width: 500px;
    grid-template: repeat(4, 1fr) / repeat(9, 1fr);
  }

  .grid-item {
    height: 50px;
    width: 50px;
  }

  .grid-item--click {
    height: 50px;
    width: 50px;
  }

  #timer {
    font-size: 1em;
  }

  header {
    height: 35px;
  }

  h1 {
    line-height: 35px;
  }

  #timer_mobile {
    display: flex;
    justify-content: space-between;
  }

  .btn_score_mobile {
    display: block;
    margin: 10px;
    align-items: right;
  }

  .btn_score_desktop {
    display: none;
  }

  .btn a {
    padding: 5px 20px;
    font-size: 1em;
  }

  #podium {
    justify-content: space-between;
  }

  .number {
    width: 50px;
  }

  .number div {
    text-align: center;
    margin: -20px -10px;
  }
  #responsive {
    display: block;
  }
}

@media screen and (min-height: 565px) and (max-height: 695px) {
  #container {
    height: 400px;
    width: 400px;
  }

  .grid-item {
    height: 55px;
    width: 55px;
  }

  .grid-item--click {
    height: 55px;
    width: 55px;
  }

  #timer {
    font-size: 1.5em;
  }

  .btn a {
    padding: 5px 20px;
  }

  header {
    height: 50px;
  }

  h1 {
    line-height: 50px;
  }
}

@media screen and (min-height: 440px) and (max-height: 564px) {
  #container {
    height: 280px;
    width: 570px;
    grid-template: repeat(4, 1fr) / repeat(9, 1fr);
  }

  .grid-item {
    height: 55px;
    width: 55px;
  }

  .grid-item--click {
    height: 55px;
    width: 55px;
  }

  #timer {
    font-size: 1.5em;
  }

  header {
    height: 50px;
  }

  h1 {
    line-height: 50px;
  }

  .btn a {
    padding: 5px 20px;
  }

  .number {
    width: 50px;
    margin: 0 20px;
  }

  .number div {
    text-align: center;
    margin: -20px -10px;
  }
}

@media screen and (min-height: 310px) and (max-height: 439px) {
  #container {
    height: 230px;
    width: 500px;
    grid-template: repeat(4, 1fr) / repeat(9, 1fr);
  }

  .grid-item {
    height: 50px;
    width: 50px;
  }

  .grid-item--click {
    height: 50px;
    width: 50px;
  }

  #timer {
    font-size: 1em;
  }

  header {
    height: 35px;
  }

  h1 {
    line-height: 35px;
  }

  #timer_mobile {
    display: flex;
    justify-content: space-between;
  }

  .btn_score_mobile {
    display: block;
    margin: 10px;
    align-items: right;
  }

  .btn_score_desktop {
    display: none;
  }

  .btn a {
    padding: 5px 20px;
    font-size: 1em;
  }

  .number {
    width: 50px;
    margin: 0 20px;
  }

  .number div {
    text-align: center;
    margin: -20px -10px;
  }
}

@media screen and (max-height: 309px) {
  #container {
    height: 230px;
    width: 500px;
    grid-template: repeat(4, 1fr) / repeat(9, 1fr);
  }

  .grid-item {
    height: 50px;
    width: 50px;
  }

  .grid-item--click {
    height: 50px;
    width: 50px;
  }

  #timer {
    font-size: 1em;
  }

  header {
    display: none;
  }

  #timer_mobile {
    display: flex;
    justify-content: space-between;
  }

  .btn_score_mobile {
    display: block;
    margin: 10px;
    align-items: right;
  }

  .btn_score_desktop {
    display: none;
  }

  .btn a {
    padding: 5px 20px;
    font-size: 1em;
  }

  .number {
    width: 50px;
    margin: 0 20px;
  }

  .number div {
    text-align: center;
    margin: -20px -10px;
  }
}